.disabled-email {
      color: #888888;
      text-decoration: none;
      cursor: not-allowed;
      opacity: 0.6;
      pointer-events: none;     /* This makes it NOT clickable */
    }

@layer base {
  @font-face {
    font-family: "chanel";
    /* src: url("./HaloHandletter.otf") */
    src: url("../../../Couture.otf")
      format("opentype");
      /* format ("woff");*/
    font-weight: normal;
    font-style: normal;
  }
  /* 強制全站套用 */
  body {
    font-family: "chanel", sans-serif !important;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(90deg, #d400ff, #00f0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-blur {
    backdrop-filter: blur(8px);
  }
}